AUTH_URL=http://localhost:3006
AUTH_SECRET=replace-me
AUTH_ISSUER=http://localhost:8181/realms/ecommerce-shop
AUTH_ISSUER_INTERNAL=http://localhost:8181/realms/ecommerce-shop
AUTH_CLIENT_ID=shop-fe
AUTH_CLIENT_SECRET=
AUTH_BASE_PATH=/api/shop-wallet-fe/auth
AUTH_COOKIE_PREFIX=shop-wallet-fe
API_BASE_URL=http://localhost:9000/api
