AUTH_URL=http://localhost:3005
AUTH_SECRET=replace-me
AUTH_ISSUER=http://localhost:8181/realms/ecommerce-customer
AUTH_ISSUER_INTERNAL=http://localhost:8181/realms/ecommerce-customer
AUTH_CLIENT_ID=customer-fe-next
AUTH_CLIENT_SECRET=
AUTH_BASE_PATH=/api/customer-wallet-fe/auth
AUTH_COOKIE_PREFIX=customer-wallet-fe
API_BASE_URL=http://localhost:9000/api
