<nav class="customer-nav">
  <div class="customer-nav__inner">
    <a routerLink="/" class="brand">Customer FE Angular</a>
    <div class="customer-nav__links">
      <a routerLink="/">Catalog</a>
      <a routerLink="/wallet">Wallet & Orders</a>
      <a href="http://localhost:3004">Next Portal</a>
    </div>
    <div class="customer-nav__auth">
      @if (isAuthenticated) {
        <span class="username">Hi {{ username }}</span>
        <button type="button" (click)="logout()">Logout</button>
      } @else {
        <button type="button" (click)="login()">Login</button>
      }
    </div>
  </div>
</nav>
