NEXT_PUBLIC_ADMIN_FE_URL=http://localhost:3002
NEXT_PUBLIC_SHOP_FE_URL=http://localhost:3003
NEXT_PUBLIC_CUSTOMER_FE_URL=http://localhost:3004
NEXT_PUBLIC_CUSTOMER_WALLET_FE_URL=http://localhost:3006
NEXT_PUBLIC_SHOP_WALLET_FE_URL=http://localhost:3007
